html, body{
  padding: 0;
  margin: 0;
}

body{
  background-image: url("mosaic.jpg");
  font-family: 'Josefin Slab', serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  bottom: 0px;
  text-align: center;
}

.top{
  background-color: #6D8A9C;
  border-bottom: 3px white dashed;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 70px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fas{
  font-size: 45px;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-right: 90px;
  margin-left: 90px;
}

img{
  border-radius: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 60px;
}

h1,
h2{
  color: #A98480;
  background-color: #FFFFFF;
}

h1{
  font-size: 40px;
  box-shadow: 15px 0 0 0 #FFFFFF, -15px 0 0 0 #FFFFFF;
  display: inline;
  position: relative;
}

h2{
  font-size: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.6);
  height: 120px;
  width: 390px;
  padding: 20px;
}

.message{
  color: #69707C;
  font-size: 14px;
  border: none;
  margin-top: 40px;
  border-radius: 10px;
  align-items: center;
  resize: none;
  overflow: hidden;
  outline: none;
}

.botao:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.botao {
  color: #FFFFFF;
  background-color: #6D8A9C;
  border-radius: 5px;
  font-size: 20px;
}

.tweets{
  padding-top: 30px;
  padding-bottom: 60px;
}

.posts {
  margin-top: 5px;
  font-size: 20px;
  background-color: #FFFFFF;
  border-radius: 7px;
  color: #AC8480;
  width: 720px;
  height: 80px;
  margin: 0 auto;
}

.posts p{
  padding-top: 15px;
}

.tweets{
  padding-bottom: 180px;
}

#contador{
  display: block;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 25px;
}

.tweets small{
  color: #D3B78A;
}

.button{
  outline: none;
}

.footer {
  background-color: #6D8A9C;
  position: fixed;
  font-size: 18px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  border-top: 3px white dashed;
}
